/* shimulxdui Font Face */
@font-face {
  font-family: "shimulxdui";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/ShimulXD/ShimulXDUIFont/main/fonts/shimulxduifont/shimulxdui.woff') format("woff");
}
