/* Srabondhara Font Face */
@font-face {
  font-family: "Srabondhara";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/ShimulXD/ShimulXDUIFont/fonts/SrabondharaFont/Srabondhara.woff') format("woff");
}
@font-face {
  font-family: "Srabondhara";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/ShimulXD/ShimulXDUIFont/fonts/SrabondharaFont/Srabondhara-Italic.woff') format("woff");
}